@media (max-width:400px) {

    
    .catageories{
        height: 78vw;
        font-size: 10vw;
    }
    .catageories-item{
        width: 24vw;
        height: 31vw;
        text-align: center;
        margin: 3vw;
        /* font-size: 3vw; */
    }

    .trending-items{
        /* width: 24vw; */
        /* height: 31vw; */
        /* text-align: center; */
        margin: 5vw;
        /* background-color: wheat; */
        /* font-size: 3vw; */
    }

    .catageories-item-btn{
        font-size: 3.5vw;
        margin: -3vw 0vw;
    }

    .popular-brands {
        height: 45vw;
    }
    .popular-brands img{
        height: 17vw;
        width: 18vw;
    }
    .image-ad{
        height:23vw;
        padding: 0;
    }
    .image-ad img{
        /* transform: scale(1.5); */
        height:23vw;
        width: 100%;
        
    }
}